@model Pharmacy.Models.Order

@{
    ViewBag.Title = "Dettaglio ordine";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("VisualizeOrderDetails", "VisualizeOrders", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    <h4>Patient: @Model.PatientFiscalCode</h4>
    <h4>Scadenza: @Model.ExpireDate</h4>
    <div>
        <table class="table">
            <tr>
                <th>Medicina</th>
                <th>Quantità</th>


            </tr>


            @foreach (var m in Model.Medicines)
            {
                <span>@m.Item1</span>
                <span>@m.Item2</span>
                <br/>
            }
        </table>
    </div>
    <div class="text-danger" align="center">
        @Html.Raw(ViewBag.Error)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}