@model Pharmacy.Models.OrderDetailsModel

@{
    ViewBag.Title = "Dettaglio ordine";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("VisualizeOrderDetails", "VisualizeOrders", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <h4>Cod. Fiscale Utente: @Model.SelectedOrder. </h4>
        <h4>Stato: @Model.SelectedOrder.State </h4>

        <table>
            <tr>
                <th>Nome</th>
                <th>Quantità</th>
            </tr>
            @foreach (var medicina in @Model.SelectedOrder.Medicines)
            {
                <tr>
                    <td>@medicina.Name</td>
                    <td>@medicina.Quantity</td>
                </tr>
            }
        </table>
        <div class="text-danger" align="center">
            @Html.Raw(ViewBag.Error)
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}